
.flex {
    display: flex;
}

.flex-row {
    flex-flow: row;
}

.flex-col {
    flex-flow: column;
}

.just-center {
    justify-content: center;
}

.just-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}


.p-sm {
    padding: 5px;
}

.p-md {
    padding: 10px;
}

.p-lg {
    padding: 20px;
}

.m-sm {
    margin: 5px;
}

.m-md {
    margin: 10px;
}

.m-lg {
    margin: 20px;
}

.r-sm {
    border-radius: 5px;
}

.r-sm {
    border-radius: 10px;
}

.r-sm {
    border-radius: 30px;
}

.full-height {
    height: 100%
}

.full-width {
    width: 100%;
}